	<h3>Functions in <%= function_list.name %></h3>

	<div class="functions_list">
		<% group_into_ns(function_list.functions).each do |g| %>
			<h5><%= g[0] %></h5>
			<div class="functions">
			<% g[1].each do |f| %>
			<span class="function">
				<%= link_to f[:name], 
							:controller => 'main',
							:action => 'function',
							:lib => lib.url_friendly_name,
							:version => params[:version],
							:ns => function_list.name,
							:function => f[:url_friendly_name] %>
			</span>
			<% end %>
			</div>
			<div class="clear"></div>
		<% end%>
	</div>
