<% content_for :title, " - Community-Powered Golang Documentation and Examples" %>
<div class="container_16">
	<div class="grid_15 prefix_1 suffix_1">
		<div class="overview">
			<h2 style="text-align: left">GoDocs is a community-powered documentation and examples repository for the <a href="http://golang.org">Go programming language</a>.</h2>
		</div>
	</div>
	<div class="grid_16">
		<div class="grid_7 prefix_1 alpha">
			<div class="core_libraries">
				<div class="library">
					<h3><a href="/go_core">Golang Core</a></h3>
					<h4>
						<a href="/quickref/Clojure%20Core">Quick Reference</a>
					</h4>
					<a href="http://golang.org">http://golang.org</a><br />
					<p>Clojure is a dynamic programming language that targets the Java Virtual Machine (and the CLR).</p>
				</div>
			</div>
		</div>
		<div class="grid_7 suffix_1 omega">
			<div class="core_libraries">
				<div class="library">
					<h3><a href="/gopkg">Go Packages</a></h3>
					<a href="https://googlecode.com/p/go/">https://googlecode.com/p/go/</a>
					<p>Go package is a collection of standard libraries implementing features that we believe may be useful to a large part of the golang community.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<br />
	<br />
</div>

<div class="other_content">
	<div class="container_16">

		<br />
		<br />
		<div class="grid_9">
			<div class="welcome_message">
				<h2>Getting started with Golang Docs</h2>
				<p>Finding the right tool for the job can be tough, so we&apos;ve outlined a few ways to go about your search below.</p>
				<ul>
					<li class="wm_quickref">Take a look at the <a href="https://github.com/overtone/overtone/raw/master/docs/cheatsheet/overtone-cheat-sheet.pdf">Golang cheat sheet</a>, which displays Golang vars grouped by category. Alternatively, browse the <a href="/quickref/overtone">Ugen quickref</a> for quick links to ugen docs, grouped by category too.</li>
					<li class="wm_alpha">Browse an alphabetical list of vars defined in <a href="/gopkg">Go package</a>.</li>
					<li class="wm_search"><a href="/search?q=sinosc">Search</a> for something.</li>
				</ul>
			</div>

			<div class="beta_status">
			<h2>Does this site look familiar?</h2>
			<p>This site is entirely based off of the great work done by <a href="https://github.com/zkim">zkim</a> and all on <a href="http://clojuredocs.org/">ClojureDocs.org</a>. You can help out that project by joining the mailing list and getting involved - it's also totally open source so you can contribute using Github. It looks like they're undergoing a transition to a new iteration of the site, so it may be that the latest work is going in a new direction, but I'm sure they're happy for people to take an interest.</p>
			</div>
		</div>

		<div class="grid_8">



		</div>

		<div class="clear"></div>
	</div>
</div>
