<% content_for :title, " - Community-Powered Golang Documentation and Examples" %>
<div class="container_16">
	<div class="grid_15 prefix_1 suffix_1">
		<div class="overview">
			<h3 style="text-align: left">Godock is a community-powered documentation and examples repository for the <a href="http://golang.org">Go programming language</a>.</h3>
		</div>
	</div>
	<div class="grid_16">
		<div class="grid_7 prefix_1 alpha">
			<div class="core_libraries">
				<div class="library">
					<h3><a href="/gopkg">Go Packages</a></h3>
					<a href="https://code.google.com/p/go/">https://code.google.com/p/go/</a>
					<p>Go package is a collection of standard libraries implementing features that we believe may be useful to a large part of the golang community.</p>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<br />
	<br />
</div>

<div class="other_content">
	<div class="container_16">

		<br />
		<br />
		<div class="grid_9 prefix_1 suffix_1">
			<div class="welcome_message">
				<h2>Getting started with Godock</h2>
				<p>Finding the right tool for the job can be tough, so we&apos;ve outlined a few ways to go about your search below.</p>
				<ul>
					<li class="wm_quickref">Take a look at <a href="http://tour.golang.org/#1">A Tour of Go</a>, which is an interactive introduction to Go. Alternatively, browser the <a href="http://gobyexamples.com">Go by Examples</a> for usage of different features of Golang using annotated example programs.</li>
					<li class="wm_alpha">Browse an alphabetical list of vars defined in <a href="/gopkg">Go package</a>.</li>
                                        <li class="wm_search"><a href="#" onclick="$('#main_search').focus();return false;">Search</a> for something.</li>
				</ul>
			</div>

			<div class="beta_status">
			</div>
		</div>

		<div class="grid_8">

		</div>

		<div class="clear"></div>
	</div>
</div>
