<%

if not @library
   
   version = params[:version]
   if version
     @library =
   Library.find_by_url_friendly_name_and_version(params[:lib], version)
   else
     @library =
   Library.find_by_url_friendly_name_and_current(params[:lib],true)
   end
end

current_ns = params[:ns]

if @library

   _nss = @library.namespaces.map(&:name).sort
%>
  <div class="namespaces">
    <h3>Packages</h3>
    <%= generate_level(@library.url_friendly_name, params[:version], current_ns, treeify(_nss)) %>
  </div>
<% end %>
